.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    border-bottom: 1px solid vars.$text;
    background: vars.$bg;
    z-index: 100;
    &__infos,
    &__jobs {
        display: flex;
    }
    &__top {
        display: grid;
        grid-template-columns: 70% 30%;
    }
    &__btns {
        justify-content: center;
        @include mixins.flex__center;
        height: 44px;
    }
    &__title {
        font-size: 2.8rem;
    }
    &__infos {
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    &__jobs {
        gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 14px;
    }
}

.lang__switcher {
    height: 100%;
    appearance: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    background: vars.$bg;
    color: vars.$text;
}

@media only screen and (min-width: 760px) {
    .header {
        height: 100dvh;
        left: 0;

        border-right: 1px solid vars.$text;
        border-bottom: none;
        &__jobs {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
